.list {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    font-weight: 500;
    transition: all 0.3s ease-in;
    border-radius: 25px;
}

.link img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.link:hover {
    background-color: #4d6280;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}
